In [1]:
import numpy as np
import pandas as pd

In [2]:
ds_train = pd.read_csv('../input/tabular-playground-series-apr-2021/train.csv')
ds_test = pd.read_csv('../input/tabular-playground-series-apr-2021/test.csv')
dataset = pd.concat([ds_train, ds_test], axis=0)

PassengerId = ds_test['PassengerId'].values

dataset = dataset.drop(['PassengerId', 'Name'], axis=1)

print(dataset.info())
dataset.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 0 to 99999
Data columns (total 10 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Survived  100000 non-null  float64
 1   Pclass    200000 non-null  int64
 2   Sex       200000 non-null  object
 3   Age       193221 non-null  float64
 4   SibSp     200000 non-null  int64
 5   Parch     200000 non-null  int64
 6   Ticket    190196 non-null  object
 7   Fare      199733 non-null  float64
 8   Cabin     61303 non-null   object
 9   Embarked  199473 non-null  object
dtypes: float64(3), int64(3), object(4)
memory usage: 16.8+ MB
None

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,1,male,NaN,2,0,209245,27.14,C12239,S
1,0.0,3,male,NaN,0,0,27323,13.35,NaN,S
2,0.0,3,male,0.33,1,2,CA 457703,71.29,NaN,S
3,0.0,3,male,19.00,0,0,A. 10866,13.04,NaN,S
4,1.0,3,male,25.00,0,0,427635,7.76,NaN,S

# Feature Engginering

In [3]:
## Cabin
# NaN means they didn't have a private cabin
dataset['Cabin'] = dataset['Cabin'].fillna('N')

# Retrive top alphabet
dataset['Cabin'] = dataset['Cabin'].map(lambda x: x[0])
dataset.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,1,male,NaN,2,0,209245,27.14,C,S
1,0.0,3,male,NaN,0,0,27323,13.35,N,S
2,0.0,3,male,0.33,1,2,CA 457703,71.29,N,S
3,0.0,3,male,19.00,0,0,A. 10866,13.04,N,S
4,1.0,3,male,25.00,0,0,427635,7.76,N,S

In [4]:
## Ticket
import re

'''
### strip_key_word ###
### remove string based on regrex key and "." or "(space)" etc..
def strip_key_word(key='', target=''):
    
    return re.sub(key, '', target).replace('.', '').replace(' ', '').replace('/', '')
    

ticket = dataset[['Ticket']].copy()
ticket['Ticket_cat'] = ticket['Ticket'].apply(lambda x: strip_key_word('[0-9]+', str(x)) 
                                              if strip_key_word('[0-9]+', str(x)) != '' else strip_key_word('[a-zA-Z]+', str(x))[0])
dataset['Ticket'] = ticket['Ticket_cat']

'''
# Don't use Ticket in prediction.
dataset = dataset.drop(['Ticket'], axis=1)
dataset.head()

   Survived  Pclass   Sex    Age  SibSp  Parch   Fare Cabin Embarked
0       1.0       1  male    NaN      2      0  27.14     C        S
1       0.0       3  male    NaN      0      0  13.35     N        S
2       0.0       3  male   0.33      1      2  71.29     N        S
3       0.0       3  male  19.00      0      0  13.04     N        S
4       1.0       3  male  25.00      0      0   7.76     N        S

In [5]:
## SibSp and Parch
dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1 #Add one, it's ownself
#dataset['Alone'] = dataset['Family'].apply(lambda x: 0 if x >= 1 else 0)

#dataset = dataset.drop(['SibSp', 'Parch'], axis=1)
dataset.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,FamilySize
0,1.0,1,male,NaN,2,0,27.14,C,S,3
1,0.0,3,male,NaN,0,0,13.35,N,S,1
2,0.0,3,male,0.33,1,2,71.29,N,S,4
3,0.0,3,male,19.00,0,0,13.04,N,S,1
4,1.0,3,male,25.00,0,0,7.76,N,S,1

# Missing Value Engineering

### Original dataset info()
 0   Survived  100000 non-null  float64  
 1   Pclass    200000 non-null  int64    
 2   Sex       200000 non-null  object   
 3   Age       193221 non-null  float64  
 4   SibSp     200000 non-null  int64    
 5   Parch     200000 non-null  int64    
 6   Ticket    190196 non-null  object   
 7   Fare      199733 non-null  float64  
 8   Cabin     61303 non-null   object   
 9   Embarked  199473 non-null  object

In [6]:
## Show missing value information
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 0 to 99999
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Survived    100000 non-null  float64
 1   Pclass      200000 non-null  int64
 2   Sex         200000 non-null  object
 3   Age         193221 non-null  float64
 4   SibSp       200000 non-null  int64
 5   Parch       200000 non-null  int64
 6   Fare        199733 non-null  float64
 7   Cabin       200000 non-null  object
 8   Embarked    199473 non-null  object
 9   FamilySize  200000 non-null  int64
dtypes: float64(3), int64(4), object(3)
memory usage: 16.8+ MB
None

In [7]:
## use MICE for numerical columns
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imputer = IterativeImputer(max_iter=10, random_state=42)
dataset[['Age', 'Fare']] = imputer.fit_transform(dataset[['Age', 'Fare']])

## Fare has a large skew
dataset['Fare'] = np.log(np.clip(dataset['Fare'], 1e-100, 1e+100))

dataset.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,FamilySize
0,1.0,1,male,33.951978,2,0,3.301009,C,S,3
1,0.0,3,male,33.548728,0,0,2.591516,N,S,1
2,0.0,3,male,0.330000,1,2,4.266756,N,S,4
3,0.0,3,male,19.000000,0,0,2.568022,N,S,1
4,1.0,3,male,25.000000,0,0,2.048982,N,S,1

In [8]:
## Fillna with mode in Embarked
dataset.fillna({'Embarked': dataset['Embarked'].mode().values[0]}, inplace=True)

print(dataset.info())
dataset.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 0 to 99999
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Survived    100000 non-null  float64
 1   Pclass      200000 non-null  int64
 2   Sex         200000 non-null  object
 3   Age         200000 non-null  float64
 4   SibSp       200000 non-null  int64
 5   Parch       200000 non-null  int64
 6   Fare        200000 non-null  float64
 7   Cabin       200000 non-null  object
 8   Embarked    200000 non-null  object
 9   FamilySize  200000 non-null  int64
dtypes: float64(3), int64(4), object(3)
memory usage: 16.8+ MB
None

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,FamilySize
0,1.0,1,male,33.951978,2,0,3.301009,C,S,3
1,0.0,3,male,33.548728,0,0,2.591516,N,S,1
2,0.0,3,male,0.330000,1,2,4.266756,N,S,4
3,0.0,3,male,19.000000,0,0,2.568022,N,S,1
4,1.0,3,male,25.000000,0,0,2.048982,N,S,1

# OneHot Encoding

In [9]:
dataset = pd.get_dummies(data=dataset, columns=['Pclass', 'Sex', 'Cabin', 'Embarked'], drop_first=True)
dataset.head()

,Survived,Age,SibSp,Parch,Fare,FamilySize,Pclass_2,Pclass_3,Sex_male,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_N,Cabin_T,Embarked_Q,Embarked_S
0,1.0,33.951978,2,0,3.301009,3,0,0,1,0,1,0,0,0,0,0,0,0,1
1,0.0,33.548728,0,0,2.591516,1,0,1,1,0,0,0,0,0,0,1,0,0,1
2,0.0,0.330000,1,2,4.266756,4,0,1,1,0,0,0,0,0,0,1,0,0,1
3,0.0,19.000000,0,0,2.568022,1,0,1,1,0,0,0,0,0,0,1,0,0,1
4,1.0,25.000000,0,0,2.048982,1,0,1,1,0,0,0,0,0,0,1,0,0,1

# Modeling

In [10]:
ds_train = dataset[dataset['Survived'].notnull()]
ds_test = dataset[dataset['Survived'].isnull()]
ds_test = ds_test.drop(columns=['Survived'], axis=1)

y = ds_train['Survived']
X = ds_train.drop(columns=['Survived'], axis=1)

print(ds_train.shape)
print(ds_test.shape)

(100000, 19)
(100000, 18)

In [ ]:
import optuna
import lightgbm as lgb
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score

def stratified_lgb(X,y, params):
    kf = StratifiedKFold(n_splits=5,random_state=42,shuffle=True)                  
    accuracy=[]   # list contains AUC for each fold  
    for tr_idx, te_idx in kf.split(X, y):
        X_tr, X_te = X.iloc[tr_idx], X.iloc[te_idx]
        y_tr, y_te = y.iloc[tr_idx], y.iloc[te_idx]
        lgb_classifier = lgb.LGBMClassifier(**params)
        lgb_classifier.fit(X_tr, y_tr, eval_set=[(X_te, y_te)], verbose=False, early_stopping_rounds=200)
        
        accuracy.append(accuracy_score(y_te, lgb_classifier.predict(X_te))) 
    return np.mean(accuracy)

## LightGBM Classification

def objective(trial):
    params = {
            'objective': 'binary',
            'metric': 'auc',
            'n_estimators': 500,
            'lambda_l1': trial.suggest_loguniform('lambda_l1', 1e-8, 10.0),
            'lambda_l2': trial.suggest_loguniform('lambda_l2', 1e-8, 10.0),
            'num_leaves': trial.suggest_int('num_leaves', 2, 256),
            'feature_fraction': trial.suggest_uniform('feature_fraction', 0.4, 1.0),
            'bagging_fraction': trial.suggest_uniform('bagging_fraction', 0.4, 1.0),
            'bagging_freq': trial.suggest_int('bagging_freq', 1, 7),
            'min_child_samples': trial.suggest_int('min_child_samples', 5, 100),
            'learning_rate': trial.suggest_loguniform('learning_rate', 1e-6, 1e-2)
        }

    return stratified_lgb(X, y, params)
    
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=100, n_jobs=-1)
lgb_best = study.best_params
print(lgb_best)

[I 2021-04-05 07:40:12,674] A new study created in memory with name: no-name-bab466c5-88f4-4aa2-92cc-ea9769a0e0a7
[I 2021-04-05 07:43:41,957] Trial 2 finished with value: 0.57226 and parameters: {'lambda_l1': 1.333424495856013e-06, 'lambda_l2': 7.368841046521172e-08, 'num_leaves': 199, 'feature_fraction': 0.568261181193204, 'bagging_fraction': 0.8588093166028761, 'bagging_freq': 5, 'min_child_samples': 61, 'learning_rate': 1.2773419903703142e-06}. Best is trial 2 with value: 0.57226.
[I 2021-04-05 07:44:06,017] Trial 1 finished with value: 0.57226 and parameters: {'lambda_l1': 0.8321803170666052, 'lambda_l2': 0.0006307504333340671, 'num_leaves': 205, 'feature_fraction': 0.8204861188563525, 'bagging_fraction': 0.6384581513988342, 'bagging_freq': 2, 'min_child_samples': 28, 'learning_rate': 6.8761190932587065e-06}. Best is trial 2 with value: 0.57226.
[I 2021-04-05 07:44:17,228] Trial 0 finished with value: 0.75079 and parameters: {'lambda_l1': 0.005226913227488404, 'lambda_l2': 0.00389517164941438, 'num_leaves': 107, 'feature_fraction': 0.9924624095842067, 'bagging_fraction': 0.9675312710842382, 'bagging_freq': 2, 'min_child_samples': 19, 'learning_rate': 0.0006819514926060451}. Best is trial 0 with value: 0.75079.
[I 2021-04-05 07:44:26,450] Trial 3 finished with value: 0.77623 and parameters: {'lambda_l1': 3.6416516212196948, 'lambda_l2': 1.791111599388408e-05, 'num_leaves': 183, 'feature_fraction': 0.8177975238758137, 'bagging_fraction': 0.6400474241949489, 'bagging_freq': 6, 'min_child_samples': 51, 'learning_rate': 0.003687477532268804}. Best is trial 3 with value: 0.77623.
[I 2021-04-05 07:45:42,955] Trial 4 finished with value: 0.57226 and parameters: {'lambda_l1': 0.04244129432337635, 'lambda_l2': 9.606387040871822e-08, 'num_leaves': 237, 'feature_fraction': 0.42554377440241403, 'bagging_fraction': 0.6219439827401371, 'bagging_freq': 1, 'min_child_samples': 67, 'learning_rate': 8.873945059527422e-06}. Best is trial 3 with value: 0.77623.
[I 2021-04-05 07:46:17,403] Trial 5 finished with value: 0.69063 and parameters: {'lambda_l1': 2.768642621450831e-07, 'lambda_l2': 3.967009670696993e-06, 'num_leaves': 53, 'feature_fraction': 0.9264596044779457, 'bagging_fraction': 0.7233412889810752, 'bagging_freq': 7, 'min_child_samples': 34, 'learning_rate': 0.0009003995734147656}. Best is trial 3 with value: 0.77623.
[I 2021-04-05 07:48:25,827] Trial 8 finished with value: 0.57226 and parameters: {'lambda_l1': 0.0002916505830321163, 'lambda_l2': 0.0025955185470403633, 'num_leaves': 184, 'feature_fraction': 0.6862379347103095, 'bagging_fraction': 0.6551553599463211, 'bagging_freq': 7, 'min_child_samples': 8, 'learning_rate': 9.960980938835938e-05}. Best is trial 3 with value: 0.77623.
[I 2021-04-05 07:48:58,142] Trial 6 finished with value: 0.77748 and parameters: {'lambda_l1': 0.0016083384812226376, 'lambda_l2': 4.697837437498465, 'num_leaves': 206, 'feature_fraction': 0.6347101911130638, 'bagging_fraction': 0.6409701370346663, 'bagging_freq': 1, 'min_child_samples': 65, 'learning_rate': 0.007851685436921807}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 07:49:25,992] Trial 10 finished with value: 0.7692699999999999 and parameters: {'lambda_l1': 3.420864843074046e-07, 'lambda_l2': 0.031803226204509025, 'num_leaves': 7, 'feature_fraction': 0.9799405887553929, 'bagging_fraction': 0.6749087916850471, 'bagging_freq': 7, 'min_child_samples': 89, 'learning_rate': 0.005340995211894122}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 07:50:18,078] Trial 7 finished with value: 0.77719 and parameters: {'lambda_l1': 5.031975323189346e-07, 'lambda_l2': 1.423271443915604e-07, 'num_leaves': 234, 'feature_fraction': 0.4609690961872678, 'bagging_fraction': 0.7889433129397128, 'bagging_freq': 4, 'min_child_samples': 13, 'learning_rate': 0.006132510761243301}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 07:50:23,786] Trial 11 finished with value: 0.57226 and parameters: {'lambda_l1': 0.38104942505621836, 'lambda_l2': 0.5010916495931074, 'num_leaves': 103, 'feature_fraction': 0.42118473849089333, 'bagging_fraction': 0.791435832072097, 'bagging_freq': 5, 'min_child_samples': 64, 'learning_rate': 0.00037400275831054767}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 07:50:59,591] Trial 9 finished with value: 0.77287 and parameters: {'lambda_l1': 0.0003647801452875582, 'lambda_l2': 0.07641627193989563, 'num_leaves': 149, 'feature_fraction': 0.6305474047241804, 'bagging_fraction': 0.8119532496202618, 'bagging_freq': 4, 'min_child_samples': 63, 'learning_rate': 0.0018287114829084628}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 07:52:20,600] Trial 13 finished with value: 0.57226 and parameters: {'lambda_l1': 5.289810088598784e-05, 'lambda_l2': 5.51261701115163, 'num_leaves': 127, 'feature_fraction': 0.6144768284278121, 'bagging_fraction': 0.43507084141209673, 'bagging_freq': 1, 'min_child_samples': 96, 'learning_rate': 0.00010896995222292736}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 07:53:57,628] Trial 12 finished with value: 0.57226 and parameters: {'lambda_l1': 0.000169031011652398, 'lambda_l2': 1.8349158866445055e-06, 'num_leaves': 219, 'feature_fraction': 0.8816216730187241, 'bagging_fraction': 0.7354766412899023, 'bagging_freq': 2, 'min_child_samples': 76, 'learning_rate': 8.017045009102127e-05}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 07:54:50,850] Trial 14 finished with value: 0.7772399999999999 and parameters: {'lambda_l1': 0.00013600295307967776, 'lambda_l2': 3.175447531537546, 'num_leaves': 251, 'feature_fraction': 0.5520509069732176, 'bagging_fraction': 0.47626655376138116, 'bagging_freq': 3, 'min_child_samples': 89, 'learning_rate': 0.009832792735876091}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 07:54:53,610] Trial 15 finished with value: 0.77737 and parameters: {'lambda_l1': 1.9464123570965972e-05, 'lambda_l2': 6.3435123511195455, 'num_leaves': 251, 'feature_fraction': 0.5092916994119031, 'bagging_fraction': 0.4589601676505165, 'bagging_freq': 3, 'min_child_samples': 93, 'learning_rate': 0.009495626762991148}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 07:57:50,637] Trial 16 finished with value: 0.77722 and parameters: {'lambda_l1': 1.8561262911168767e-08, 'lambda_l2': 1.0020160885280168e-05, 'num_leaves': 256, 'feature_fraction': 0.5200216053993583, 'bagging_fraction': 0.5345834214510327, 'bagging_freq': 3, 'min_child_samples': 82, 'learning_rate': 0.0068233111031040525}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 07:58:32,217] Trial 17 finished with value: 0.77736 and parameters: {'lambda_l1': 7.879980067028117e-06, 'lambda_l2': 8.744608126403959, 'num_leaves': 254, 'feature_fraction': 0.5108500122737382, 'bagging_fraction': 0.4760115707598532, 'bagging_freq': 3, 'min_child_samples': 43, 'learning_rate': 0.008986415861672755}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 07:58:52,446] Trial 19 finished with value: 0.77732 and parameters: {'lambda_l1': 8.41750906303669e-06, 'lambda_l2': 8.318967112380001, 'num_leaves': 161, 'feature_fraction': 0.508358751718308, 'bagging_fraction': 0.5334939768058234, 'bagging_freq': 3, 'min_child_samples': 44, 'learning_rate': 0.009523652116309697}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 07:59:08,756] Trial 18 finished with value: 0.77695 and parameters: {'lambda_l1': 2.0848620305953674e-05, 'lambda_l2': 4.989770489434858, 'num_leaves': 252, 'feature_fraction': 0.5146757664820096, 'bagging_fraction': 0.4899343312421859, 'bagging_freq': 3, 'min_child_samples': 82, 'learning_rate': 0.00851806988083524}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:01:42,814] Trial 20 finished with value: 0.7748600000000001 and parameters: {'lambda_l1': 0.00547479477736219, 'lambda_l2': 6.92192890901034, 'num_leaves': 154, 'feature_fraction': 0.7402544176274484, 'bagging_fraction': 0.5395305423353385, 'bagging_freq': 1, 'min_child_samples': 48, 'learning_rate': 0.0024578425030903966}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:02:46,044] Trial 21 finished with value: 0.7740300000000001 and parameters: {'lambda_l1': 0.006694979150935302, 'lambda_l2': 0.529626026259393, 'num_leaves': 155, 'feature_fraction': 0.7244114895893703, 'bagging_fraction': 0.5717368413513545, 'bagging_freq': 1, 'min_child_samples': 76, 'learning_rate': 0.0020479723558328436}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:03:59,496] Trial 23 finished with value: 0.77336 and parameters: {'lambda_l1': 0.0019065941890774425, 'lambda_l2': 0.31660694998062755, 'num_leaves': 219, 'feature_fraction': 0.7210822379497414, 'bagging_fraction': 0.4054376962946144, 'bagging_freq': 1, 'min_child_samples': 99, 'learning_rate': 0.0020192377616541496}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:04:03,967] Trial 22 finished with value: 0.77432 and parameters: {'lambda_l1': 0.010108804336651485, 'lambda_l2': 0.7131943469124069, 'num_leaves': 220, 'feature_fraction': 0.7370344353708029, 'bagging_fraction': 0.5560350851252238, 'bagging_freq': 1, 'min_child_samples': 75, 'learning_rate': 0.0018865197039341184}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:06:57,442] Trial 24 finished with value: 0.7716899999999999 and parameters: {'lambda_l1': 0.002342650891121454, 'lambda_l2': 0.4841298003144748, 'num_leaves': 224, 'feature_fraction': 0.6446628160876866, 'bagging_fraction': 0.4076881470569475, 'bagging_freq': 2, 'min_child_samples': 37, 'learning_rate': 0.0017492357170264682}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:07:49,852] Trial 25 finished with value: 0.76061 and parameters: {'lambda_l1': 5.4141799587284425e-06, 'lambda_l2': 0.9605286431093755, 'num_leaves': 228, 'feature_fraction': 0.6251658549200064, 'bagging_fraction': 0.4032890975492103, 'bagging_freq': 2, 'min_child_samples': 41, 'learning_rate': 0.0011680081563498136}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:09:12,361] Trial 28 finished with value: 0.57226 and parameters: {'lambda_l1': 4.698231934231163e-06, 'lambda_l2': 0.036018417758059515, 'num_leaves': 253, 'feature_fraction': 0.4607861964877603, 'bagging_fraction': 0.46725798408562724, 'bagging_freq': 5, 'min_child_samples': 54, 'learning_rate': 0.00025176422601779245}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:09:25,808] Trial 26 finished with value: 0.72701 and parameters: {'lambda_l1': 6.884341461082425e-06, 'lambda_l2': 1.1068284807097148, 'num_leaves': 256, 'feature_fraction': 0.6409967258250558, 'bagging_fraction': 0.4099691007542917, 'bagging_freq': 2, 'min_child_samples': 30, 'learning_rate': 0.0007373321803425027}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:09:45,859] Trial 27 finished with value: 0.57226 and parameters: {'lambda_l1': 4.070204445617959e-06, 'lambda_l2': 0.04853514455952836, 'num_leaves': 255, 'feature_fraction': 0.6342354022556229, 'bagging_fraction': 0.4134965662247684, 'bagging_freq': 2, 'min_child_samples': 37, 'learning_rate': 0.00028694960634883935}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:10:04,527] Trial 29 finished with value: 0.57226 and parameters: {'lambda_l1': 4.193301718757493e-06, 'lambda_l2': 0.048191272176256725, 'num_leaves': 255, 'feature_fraction': 0.4661676228962054, 'bagging_fraction': 0.487633363874834, 'bagging_freq': 5, 'min_child_samples': 57, 'learning_rate': 0.00024116439161885888}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:12:00,299] Trial 31 finished with value: 0.57226 and parameters: {'lambda_l1': 3.478924199985301e-08, 'lambda_l2': 0.09829481957251315, 'num_leaves': 192, 'feature_fraction': 0.5719037202044834, 'bagging_fraction': 0.5899213108403204, 'bagging_freq': 4, 'min_child_samples': 56, 'learning_rate': 2.0981490340946724e-05}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:13:29,253] Trial 32 finished with value: 0.77582 and parameters: {'lambda_l1': 1.4361465794498162e-08, 'lambda_l2': 0.0055991087779808475, 'num_leaves': 94, 'feature_fraction': 0.5741702757920436, 'bagging_fraction': 0.9629593257723537, 'bagging_freq': 4, 'min_child_samples': 22, 'learning_rate': 0.003530485297541069}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:13:40,508] Trial 33 finished with value: 0.77695 and parameters: {'lambda_l1': 6.216105744945407e-08, 'lambda_l2': 0.010341776442880089, 'num_leaves': 87, 'feature_fraction': 0.5824541714087794, 'bagging_fraction': 0.9993133254916087, 'bagging_freq': 4, 'min_child_samples': 70, 'learning_rate': 0.004067775756654345}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:14:22,948] Trial 30 finished with value: 0.77552 and parameters: {'lambda_l1': 5.227261636876625e-08, 'lambda_l2': 0.0732497207299722, 'num_leaves': 190, 'feature_fraction': 0.5785824838649648, 'bagging_fraction': 0.5930869086702306, 'bagging_freq': 4, 'min_child_samples': 27, 'learning_rate': 0.003484887039584943}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:16:06,126] Trial 34 finished with value: 0.77742 and parameters: {'lambda_l1': 2.593783516214463e-05, 'lambda_l2': 8.88755117302503, 'num_leaves': 169, 'feature_fraction': 0.5262783990865523, 'bagging_fraction': 0.5093590621140867, 'bagging_freq': 3, 'min_child_samples': 45, 'learning_rate': 0.009497764031486123}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:17:32,403] Trial 35 finished with value: 0.77699 and parameters: {'lambda_l1': 3.253766353368511e-05, 'lambda_l2': 7.5135111410867506, 'num_leaves': 165, 'feature_fraction': 0.5075017203114314, 'bagging_fraction': 0.5145891129075483, 'bagging_freq': 3, 'min_child_samples': 46, 'learning_rate': 0.008138453681573532}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:17:50,719] Trial 38 finished with value: 0.57226 and parameters: {'lambda_l1': 3.216460177632329e-05, 'lambda_l2': 2.2575281905986615, 'num_leaves': 170, 'feature_fraction': 0.4924872250314807, 'bagging_fraction': 0.513988646999674, 'bagging_freq': 3, 'min_child_samples': 47, 'learning_rate': 1.0284222397743364e-06}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:17:56,788] Trial 36 finished with value: 0.7770600000000001 and parameters: {'lambda_l1': 3.6708191545435195e-05, 'lambda_l2': 8.048119520384393, 'num_leaves': 171, 'feature_fraction': 0.5090150202712856, 'bagging_fraction': 0.6024438595572486, 'bagging_freq': 3, 'min_child_samples': 44, 'learning_rate': 0.009089953502344764}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:18:25,587] Trial 37 finished with value: 0.77725 and parameters: {'lambda_l1': 2.9104455680080957e-05, 'lambda_l2': 7.818659060634205, 'num_leaves': 174, 'feature_fraction': 0.5115642718590612, 'bagging_fraction': 0.5015292205618015, 'bagging_freq': 3, 'min_child_samples': 46, 'learning_rate': 0.00826229505370899}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:19:45,130] Trial 40 finished with value: 0.57226 and parameters: {'lambda_l1': 0.0008338627795925894, 'lambda_l2': 5.1677413819246936e-05, 'num_leaves': 207, 'feature_fraction': 0.411979159796764, 'bagging_fraction': 0.4591207115455839, 'bagging_freq': 3, 'min_child_samples': 41, 'learning_rate': 2.3092897129032124e-06}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:20:15,091] Trial 42 finished with value: 0.57226 and parameters: {'lambda_l1': 0.0009518583012902954, 'lambda_l2': 0.0015523025060875974, 'num_leaves': 205, 'feature_fraction': 0.4012185335898474, 'bagging_fraction': 0.45429082811110294, 'bagging_freq': 6, 'min_child_samples': 59, 'learning_rate': 3.81277471994139e-06}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:21:44,853] Trial 39 finished with value: 0.7768599999999999 and parameters: {'lambda_l1': 0.0007638976787671124, 'lambda_l2': 2.370810255479396, 'num_leaves': 203, 'feature_fraction': 0.4022169872133867, 'bagging_fraction': 0.4569086814688249, 'bagging_freq': 3, 'min_child_samples': 51, 'learning_rate': 0.009765442447372468}. Best is trial 6 with value: 0.77748.
[I 2021-04-05 08:23:12,966] Trial 41 finished with value: 0.7778 and parameters: {'lambda_l1': 0.000643111453180924, 'lambda_l2': 0.00013941728692117624, 'num_leaves': 207, 'feature_fraction': 0.6733205445271326, 'bagging_fraction': 0.4455835358052758, 'bagging_freq': 2, 'min_child_samples': 51, 'learning_rate': 0.005096206411017204}. Best is trial 41 with value: 0.7778.
[I 2021-04-05 08:23:49,909] Trial 43 finished with value: 0.77755 and parameters: {'lambda_l1': 1.2821220037172699e-06, 'lambda_l2': 0.0008510440139483857, 'num_leaves': 137, 'feature_fraction': 0.6768025652614235, 'bagging_fraction': 0.44315389682690065, 'bagging_freq': 6, 'min_child_samples': 59, 'learning_rate': 0.004490078451244113}. Best is trial 41 with value: 0.7778.
[I 2021-04-05 08:24:09,051] Trial 44 finished with value: 0.77537 and parameters: {'lambda_l1': 1.0693881999306473e-06, 'lambda_l2': 2.037123687090006, 'num_leaves': 133, 'feature_fraction': 0.549173342079834, 'bagging_fraction': 0.6353947277011114, 'bagging_freq': 2, 'min_child_samples': 53, 'learning_rate': 0.00469630991844263}. Best is trial 41 with value: 0.7778.
[I 2021-04-05 08:25:39,084] Trial 45 finished with value: 0.7759199999999999 and parameters: {'lambda_l1': 1.1727510381356638e-06, 'lambda_l2': 2.4265423390583223, 'num_leaves': 127, 'feature_fraction': 0.5413886926002736, 'bagging_fraction': 0.6211312531256419, 'bagging_freq': 2, 'min_child_samples': 33, 'learning_rate': 0.004742902043030844}. Best is trial 41 with value: 0.7778.
[I 2021-04-05 08:27:31,116] Trial 48 finished with value: 0.71013 and parameters: {'lambda_l1': 0.05914942544641422, 'lambda_l2': 0.00016862156590034846, 'num_leaves': 125, 'feature_fraction': 0.7746055803993981, 'bagging_fraction': 0.43163735420915383, 'bagging_freq': 6, 'min_child_samples': 68, 'learning_rate': 0.0011334243032324973}. Best is trial 41 with value: 0.7778.
[I 2021-04-05 08:28:12,902] Trial 47 finished with value: 0.77811 and parameters: {'lambda_l1': 1.083059141046666e-06, 'lambda_l2': 0.00018622937383423507, 'num_leaves': 135, 'feature_fraction': 0.677593310415493, 'bagging_fraction': 0.6958916058945243, 'bagging_freq': 6, 'min_child_samples': 64, 'learning_rate': 0.004646481302452746}. Best is trial 47 with value: 0.77811.
[I 2021-04-05 08:29:31,158] Trial 46 finished with value: 0.7779400000000001 and parameters: {'lambda_l1': 9.206558213157779e-07, 'lambda_l2': 0.00025512960301242004, 'num_leaves': 240, 'feature_fraction': 0.7785262019073278, 'bagging_fraction': 0.691982416270245, 'bagging_freq': 2, 'min_child_samples': 52, 'learning_rate': 0.004864313614199563}. Best is trial 47 with value: 0.77811.
[I 2021-04-05 08:30:17,621] Trial 49 finished with value: 0.7698799999999999 and parameters: {'lambda_l1': 0.030372420454184475, 'lambda_l2': 0.00033724246898252135, 'num_leaves': 143, 'feature_fraction': 0.7849303832228415, 'bagging_fraction': 0.7399269051659836, 'bagging_freq': 6, 'min_child_samples': 66, 'learning_rate': 0.0012675679355086463}. Best is trial 47 with value: 0.77811.
[I 2021-04-05 08:31:40,715] Trial 52 finished with value: 0.6268 and parameters: {'lambda_l1': 0.024762534572295894, 'lambda_l2': 0.0005546065836385446, 'num_leaves': 65, 'feature_fraction': 0.8125029869220876, 'bagging_fraction': 0.7059301008034735, 'bagging_freq': 7, 'min_child_samples': 62, 'learning_rate': 0.000555371841052189}. Best is trial 47 with value: 0.77811.
[I 2021-04-05 08:32:02,184] Trial 51 finished with value: 0.6198500000000001 and parameters: {'lambda_l1': 0.00010549852160441256, 'lambda_l2': 0.0004295881256449224, 'num_leaves': 139, 'feature_fraction': 0.6805208935528441, 'bagging_fraction': 0.6985213514190359, 'bagging_freq': 7, 'min_child_samples': 62, 'learning_rate': 0.0005429289023007923}. Best is trial 47 with value: 0.77811.

In [ ]:
## Predict
lgb_best['n_estimators'] = 10000
kf = StratifiedKFold(n_splits=5,random_state=42,shuffle=True)                  
predict = pd.DataFrame()
n=0   
for tr_idx, te_idx in kf.split(X, y):
    X_tr, X_te = X.iloc[tr_idx], X.iloc[te_idx]
    y_tr, y_te = y.iloc[tr_idx], y.iloc[te_idx]
    lgb_classifier = lgb.LGBMClassifier(**lgb_best)
    lgb_classifier.fit(X_tr, y_tr, eval_set=[(X_te, y_te)], verbose=False, early_stopping_rounds=2000)
    y_pred = lgb_classifier.predict(ds_test)
    predict[n] = y_pred
    n+=1

result = np.round(predict.mode(axis=1).loc[:,0].values).astype(int)

output = pd.DataFrame({'PassengerId': PassengerId, 'Survived': result})
output.to_csv('my_submission.csv', index=False)
print("Your submission was successfully saved!")