In [33]:
import numpy as np
import pandas as pd

In [34]:
ds_train = pd.read_csv('../input/tabular-playground-series-apr-2021/train.csv')
ds_test = pd.read_csv('../input/tabular-playground-series-apr-2021/test.csv')
dataset = pd.concat([ds_train, ds_test], axis=0)

PassengerId = ds_test['PassengerId'].values

dataset = dataset.drop(['PassengerId', 'Name'], axis=1)

print(dataset.info())
dataset.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 0 to 99999
Data columns (total 10 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Survived  100000 non-null  float64
 1   Pclass    200000 non-null  int64
 2   Sex       200000 non-null  object
 3   Age       193221 non-null  float64
 4   SibSp     200000 non-null  int64
 5   Parch     200000 non-null  int64
 6   Ticket    190196 non-null  object
 7   Fare      199733 non-null  float64
 8   Cabin     61303 non-null   object
 9   Embarked  199473 non-null  object
dtypes: float64(3), int64(3), object(4)
memory usage: 16.8+ MB
None

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,1,male,NaN,2,0,209245,27.14,C12239,S
1,0.0,3,male,NaN,0,0,27323,13.35,NaN,S
2,0.0,3,male,0.33,1,2,CA 457703,71.29,NaN,S
3,0.0,3,male,19.00,0,0,A. 10866,13.04,NaN,S
4,1.0,3,male,25.00,0,0,427635,7.76,NaN,S

# Feature Engginering

In [35]:
## Cabin
# NaN means they didn't have a private cabin
dataset['Cabin'] = dataset['Cabin'].fillna('N')

# Retrive top alphabet
dataset['Cabin'] = dataset['Cabin'].map(lambda x: x[0])
dataset.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,1,male,NaN,2,0,209245,27.14,C,S
1,0.0,3,male,NaN,0,0,27323,13.35,N,S
2,0.0,3,male,0.33,1,2,CA 457703,71.29,N,S
3,0.0,3,male,19.00,0,0,A. 10866,13.04,N,S
4,1.0,3,male,25.00,0,0,427635,7.76,N,S

In [36]:
## Ticket
import re

def strip_key_word(target=''):    
    return target.replace('.', '').replace(' ', '').replace('/', '')

dataset['Ticket'] = dataset['Ticket'].fillna('X').apply(lambda x: str(x).split()[0] if len(str(x).split()) > 1 else 'X')
dataset['Ticket'] = dataset['Ticket'].apply(lambda x: strip_key_word(x))

'''
### strip_key_word ###
### remove string based on regrex key and "." or "(space)" etc..
def strip_key_word(key='', target=''):
    
    return re.sub(key, '', target).replace('.', '').replace(' ', '').replace('/', '')
    

ticket = dataset[['Ticket']].copy()
ticket['Ticket_cat'] = ticket['Ticket'].apply(lambda x: strip_key_word('[0-9]+', str(x)) 
                                              if strip_key_word('[0-9]+', str(x)) != '' else strip_key_word('[a-zA-Z]+', str(x))[0])
dataset['Ticket'] = ticket['Ticket_cat']

'''

dataset.head()

   Survived  Pclass   Sex    Age  SibSp  Parch Ticket   Fare Cabin Embarked
0       1.0       1  male    NaN      2      0      X  27.14     C        S
1       0.0       3  male    NaN      0      0      X  13.35     N        S
2       0.0       3  male   0.33      1      2     CA  71.29     N        S
3       0.0       3  male  19.00      0      0      A  13.04     N        S
4       1.0       3  male  25.00      0      0      X   7.76     N        S

In [37]:
## SibSp and Parch
dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1 #Add one, it's ownself
#dataset['Alone'] = dataset['Family'].apply(lambda x: 0 if x >= 1 else 0)

#dataset = dataset.drop(['SibSp', 'Parch'], axis=1)
dataset.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
0,1.0,1,male,NaN,2,0,X,27.14,C,S,3
1,0.0,3,male,NaN,0,0,X,13.35,N,S,1
2,0.0,3,male,0.33,1,2,CA,71.29,N,S,4
3,0.0,3,male,19.00,0,0,A,13.04,N,S,1
4,1.0,3,male,25.00,0,0,X,7.76,N,S,1

# Missing Value Engineering

### Original dataset info()
 0   Survived  100000 non-null  float64  
 1   Pclass    200000 non-null  int64    
 2   Sex       200000 non-null  object   
 3   Age       193221 non-null  float64  
 4   SibSp     200000 non-null  int64    
 5   Parch     200000 non-null  int64    
 6   Ticket    190196 non-null  object   
 7   Fare      199733 non-null  float64  
 8   Cabin     61303 non-null   object   
 9   Embarked  199473 non-null  object

In [38]:
## Show missing value information
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Survived    100000 non-null  float64
 1   Pclass      200000 non-null  int64
 2   Sex         200000 non-null  object
 3   Age         193221 non-null  float64
 4   SibSp       200000 non-null  int64
 5   Parch       200000 non-null  int64
 6   Ticket      200000 non-null  object
 7   Fare        199733 non-null  float64
 8   Cabin       200000 non-null  object
 9   Embarked    199473 non-null  object
 10  FamilySize  200000 non-null  int64
dtypes: float64(3), int64(4), object(4)
memory usage: 18.3+ MB
None

In [39]:
## Don't use MICE for numerical columns
#  MICE uses linear-regression model, there might not be a linear relation between Age and Fare

pclass_age = dataset[['Age', 'Pclass']].dropna().groupby('Pclass').mean().to_dict()
dataset.fillna({'Age': dataset['Pclass'].apply(lambda x: pclass_age['Age'][x])}, inplace=True)

## Fare has a large skew
dataset.fillna({'Fare': dataset['Fare'].mean()}, inplace=True)
dataset['Fare'] = np.log(np.clip(dataset['Fare'], 1e-100, 1e+100))

## Fillna with mode in Embarked
dataset.fillna({'Embarked': dataset['Embarked'].mode().values[0]}, inplace=True)

print(dataset.info())
dataset.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Survived    100000 non-null  float64
 1   Pclass      200000 non-null  int64
 2   Sex         200000 non-null  object
 3   Age         200000 non-null  float64
 4   SibSp       200000 non-null  int64
 5   Parch       200000 non-null  int64
 6   Ticket      200000 non-null  object
 7   Fare        200000 non-null  float64
 8   Cabin       200000 non-null  object
 9   Embarked    200000 non-null  object
 10  FamilySize  200000 non-null  int64
dtypes: float64(3), int64(4), object(4)
memory usage: 18.3+ MB
None

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
0,1.0,1,male,40.672757,2,0,X,3.301009,C,S,3
1,0.0,3,male,30.205570,0,0,X,2.591516,N,S,1
2,0.0,3,male,0.330000,1,2,CA,4.266756,N,S,4
3,0.0,3,male,19.000000,0,0,A,2.568022,N,S,1
4,1.0,3,male,25.000000,0,0,X,2.048982,N,S,1

# Encoding

In [40]:
dataset = pd.get_dummies(data=dataset, columns=['Pclass', 'Sex', 'Cabin', 'Embarked'], drop_first=True)

from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
for col in ['Ticket']:
    dataset[col] = encoder.fit_transform(dataset[col])

dataset.head()

,Survived,Age,SibSp,Parch,Ticket,Fare,FamilySize,Pclass_2,Pclass_3,Sex_male,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_N,Cabin_T,Embarked_Q,Embarked_S
0,1.0,40.672757,2,0,35,3.301009,3,0,0,1,0,1,0,0,0,0,0,0,0,1
1,0.0,30.205570,0,0,35,2.591516,1,0,1,1,0,0,0,0,0,0,1,0,0,1
2,0.0,0.330000,1,2,7,4.266756,4,0,1,1,0,0,0,0,0,0,1,0,0,1
3,0.0,19.000000,0,0,0,2.568022,1,0,1,1,0,0,0,0,0,0,1,0,0,1
4,1.0,25.000000,0,0,35,2.048982,1,0,1,1,0,0,0,0,0,0,1,0,0,1

# Modeling

In [41]:
ds_train = dataset[dataset['Survived'].notnull()]
ds_test = dataset[dataset['Survived'].isnull()]
ds_test = ds_test.drop(columns=['Survived'], axis=1)

y = ds_train['Survived']
X = ds_train.drop(columns=['Survived'], axis=1)

print(ds_train.shape)
print(ds_test.shape)

(100000, 20)
(100000, 19)

In [ ]:
import optuna
import lightgbm as lgb
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score

def stratified_lgb(X,y, params):
    kf = StratifiedKFold(n_splits=5,random_state=42,shuffle=True)                  
    accuracy=[]   # list contains AUC for each fold  
    for tr_idx, te_idx in kf.split(X, y):
        X_tr, X_te = X.iloc[tr_idx], X.iloc[te_idx]
        y_tr, y_te = y.iloc[tr_idx], y.iloc[te_idx]
        lgb_classifier = lgb.LGBMClassifier(**params)
        lgb_classifier.fit(X_tr, y_tr, eval_set=[(X_te, y_te)], verbose=False, early_stopping_rounds=200, eval_metric='auc', random_state=42)
        
        accuracy.append(accuracy_score(y_te, lgb_classifier.predict(X_te))) 
    return np.mean(accuracy)

## LightGBM Classification

def objective(trial):
    params = {
            'objective': 'binary',
            'metric': 'auc',
            'n_estimators': 500,
            'lambda_l1': trial.suggest_loguniform('lambda_l1', 1e-8, 10.0),
            'lambda_l2': trial.suggest_loguniform('lambda_l2', 1e-8, 10.0),
            'num_leaves': trial.suggest_int('num_leaves', 2, 256),
            'feature_fraction': trial.suggest_uniform('feature_fraction', 0.4, 1.0),
            'bagging_fraction': trial.suggest_uniform('bagging_fraction', 0.4, 1.0),
            'bagging_freq': trial.suggest_int('bagging_freq', 1, 7),
            'min_child_samples': trial.suggest_int('min_child_samples', 5, 100),
            'learning_rate': trial.suggest_loguniform('learning_rate', 1e-7, 1e-2)
        }

    return stratified_lgb(X, y, params)
    
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=100, n_jobs=-1)
lgb_best = study.best_params
print(lgb_best)

[I 2021-04-06 07:41:37,829] A new study created in memory with name: no-name-4ad9f0e1-4824-4ad8-825d-7d51d74e4929
[I 2021-04-06 07:42:27,504] Trial 2 finished with value: 0.6491200000000001 and parameters: {'lambda_l1': 0.4543683650521952, 'lambda_l2': 1.367685598967322e-06, 'num_leaves': 8, 'feature_fraction': 0.8290472693387125, 'bagging_fraction': 0.8789992974735719, 'bagging_freq': 2, 'min_child_samples': 41, 'learning_rate': 0.001192394897262815}. Best is trial 2 with value: 0.6491200000000001.
[I 2021-04-06 07:42:39,391] Trial 3 finished with value: 0.57226 and parameters: {'lambda_l1': 1.7898836361260697, 'lambda_l2': 0.008462367603897625, 'num_leaves': 33, 'feature_fraction': 0.9090214896020546, 'bagging_fraction': 0.5237037009393756, 'bagging_freq': 1, 'min_child_samples': 21, 'learning_rate': 5.045216149754832e-06}. Best is trial 2 with value: 0.6491200000000001.
[I 2021-04-06 07:42:42,439] Trial 1 finished with value: 0.57226 and parameters: {'lambda_l1': 0.0005714350439040777, 'lambda_l2': 7.199824198392278e-05, 'num_leaves': 26, 'feature_fraction': 0.7704193628126395, 'bagging_fraction': 0.7589621525436561, 'bagging_freq': 3, 'min_child_samples': 31, 'learning_rate': 3.6233317798073074e-06}. Best is trial 2 with value: 0.6491200000000001.
[I 2021-04-06 07:43:26,054] Trial 0 finished with value: 0.57226 and parameters: {'lambda_l1': 3.7458864868444824e-07, 'lambda_l2': 0.002544382223711958, 'num_leaves': 51, 'feature_fraction': 0.7556154528097085, 'bagging_fraction': 0.9588927829910354, 'bagging_freq': 4, 'min_child_samples': 41, 'learning_rate': 2.353410908147366e-06}. Best is trial 2 with value: 0.6491200000000001.
[I 2021-04-06 07:44:07,788] Trial 4 finished with value: 0.57226 and parameters: {'lambda_l1': 2.840560231901601, 'lambda_l2': 2.1587157290129406e-07, 'num_leaves': 53, 'feature_fraction': 0.8354079987223433, 'bagging_fraction': 0.5967174147848497, 'bagging_freq': 7, 'min_child_samples': 29, 'learning_rate': 1.3715534534617363e-05}. Best is trial 2 with value: 0.6491200000000001.
[I 2021-04-06 07:45:06,458] Trial 7 finished with value: 0.57226 and parameters: {'lambda_l1': 0.0006447116821539423, 'lambda_l2': 1.4942711079941782e-05, 'num_leaves': 81, 'feature_fraction': 0.9381460834923621, 'bagging_fraction': 0.4775507515051382, 'bagging_freq': 3, 'min_child_samples': 19, 'learning_rate': 7.276403938315475e-07}. Best is trial 2 with value: 0.6491200000000001.
[I 2021-04-06 07:45:34,420] Trial 6 finished with value: 0.57226 and parameters: {'lambda_l1': 0.0011708616537532469, 'lambda_l2': 9.614723383985032e-07, 'num_leaves': 147, 'feature_fraction': 0.8957229372426581, 'bagging_fraction': 0.678133914664504, 'bagging_freq': 7, 'min_child_samples': 59, 'learning_rate': 1.9462696468144236e-05}. Best is trial 2 with value: 0.6491200000000001.
[I 2021-04-06 07:46:24,781] Trial 5 finished with value: 0.57226 and parameters: {'lambda_l1': 0.6570468623026946, 'lambda_l2': 5.426493403370592, 'num_leaves': 180, 'feature_fraction': 0.6353426958715676, 'bagging_fraction': 0.7932526668362698, 'bagging_freq': 4, 'min_child_samples': 72, 'learning_rate': 0.00013014502688520033}. Best is trial 2 with value: 0.6491200000000001.
[I 2021-04-06 07:48:16,592] Trial 10 finished with value: 0.57226 and parameters: {'lambda_l1': 0.03033847644623128, 'lambda_l2': 6.810972827873242e-06, 'num_leaves': 62, 'feature_fraction': 0.6295013714706834, 'bagging_fraction': 0.7351712741147146, 'bagging_freq': 2, 'min_child_samples': 57, 'learning_rate': 0.00019469329235047273}. Best is trial 2 with value: 0.6491200000000001.
[I 2021-04-06 07:48:19,686] Trial 8 finished with value: 0.57226 and parameters: {'lambda_l1': 1.1129626333361127e-08, 'lambda_l2': 0.0032346653858187015, 'num_leaves': 140, 'feature_fraction': 0.45934801427775446, 'bagging_fraction': 0.960222974767046, 'bagging_freq': 6, 'min_child_samples': 90, 'learning_rate': 1.2155363617589727e-05}. Best is trial 2 with value: 0.6491200000000001.
[I 2021-04-06 07:48:43,376] Trial 9 finished with value: 0.57226 and parameters: {'lambda_l1': 0.00022216250262017555, 'lambda_l2': 4.85940468680976e-08, 'num_leaves': 185, 'feature_fraction': 0.6792303108017714, 'bagging_fraction': 0.9648538779839387, 'bagging_freq': 4, 'min_child_samples': 33, 'learning_rate': 9.88762466685004e-05}. Best is trial 2 with value: 0.6491200000000001.
[I 2021-04-06 07:49:14,385] Trial 11 finished with value: 0.57226 and parameters: {'lambda_l1': 5.811145285905594e-08, 'lambda_l2': 0.23081655325854003, 'num_leaves': 82, 'feature_fraction': 0.9994650417008173, 'bagging_fraction': 0.557297716670074, 'bagging_freq': 7, 'min_child_samples': 20, 'learning_rate': 6.57974168715853e-06}. Best is trial 2 with value: 0.6491200000000001.
[I 2021-04-06 07:51:13,724] Trial 12 finished with value: 0.57226 and parameters: {'lambda_l1': 2.9476796141568297e-05, 'lambda_l2': 2.4004105136659692e-05, 'num_leaves': 195, 'feature_fraction': 0.6489632119064536, 'bagging_fraction': 0.9329360435682061, 'bagging_freq': 7, 'min_child_samples': 70, 'learning_rate': 1.3393150349704303e-06}. Best is trial 2 with value: 0.6491200000000001.
[I 2021-04-06 07:53:39,666] Trial 13 finished with value: 0.7796399999999999 and parameters: {'lambda_l1': 2.071075667681118e-06, 'lambda_l2': 2.3555700398650994e-08, 'num_leaves': 235, 'feature_fraction': 0.47412905223704394, 'bagging_fraction': 0.8856985784535184, 'bagging_freq': 1, 'min_child_samples': 6, 'learning_rate': 0.008654818830977627}. Best is trial 13 with value: 0.7796399999999999.
[I 2021-04-06 07:54:54,046] Trial 14 finished with value: 0.77948 and parameters: {'lambda_l1': 1.1223691195135524e-07, 'lambda_l2': 0.4286163839724863, 'num_leaves': 254, 'feature_fraction': 0.7538602315055652, 'bagging_fraction': 0.8738234784155692, 'bagging_freq': 5, 'min_child_samples': 44, 'learning_rate': 0.006787492014149815}. Best is trial 13 with value: 0.7796399999999999.
[I 2021-04-06 07:55:15,611] Trial 15 finished with value: 0.7796799999999999 and parameters: {'lambda_l1': 1.0598038150666975e-06, 'lambda_l2': 0.0014612493541799147, 'num_leaves': 253, 'feature_fraction': 0.7620989819228394, 'bagging_fraction': 0.8869164383438866, 'bagging_freq': 5, 'min_child_samples': 44, 'learning_rate': 0.0070147627155392215}. Best is trial 15 with value: 0.7796799999999999.
[I 2021-04-06 07:57:14,161] Trial 16 finished with value: 0.77986 and parameters: {'lambda_l1': 1.5295039312428675e-06, 'lambda_l2': 0.0012211319451284491, 'num_leaves': 252, 'feature_fraction': 0.7759814852654733, 'bagging_fraction': 0.8728078541462947, 'bagging_freq': 5, 'min_child_samples': 44, 'learning_rate': 0.006363816572697302}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 07:59:11,856] Trial 17 finished with value: 0.77789 and parameters: {'lambda_l1': 1.4455372615782503e-06, 'lambda_l2': 1.1975817898987957e-08, 'num_leaves': 255, 'feature_fraction': 0.43457049444400847, 'bagging_fraction': 0.8237044816281083, 'bagging_freq': 1, 'min_child_samples': 8, 'learning_rate': 0.004688710152329895}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 08:00:50,880] Trial 18 finished with value: 0.77884 and parameters: {'lambda_l1': 2.1298547919748737e-06, 'lambda_l2': 4.1104152482174285, 'num_leaves': 255, 'feature_fraction': 0.5139834514845513, 'bagging_fraction': 0.8560043203334439, 'bagging_freq': 5, 'min_child_samples': 7, 'learning_rate': 0.006247119339587928}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 08:01:12,122] Trial 19 finished with value: 0.7788 and parameters: {'lambda_l1': 3.665268368924909e-06, 'lambda_l2': 0.0003179811391241624, 'num_leaves': 251, 'feature_fraction': 0.40193337096741905, 'bagging_fraction': 0.8386027840844827, 'bagging_freq': 5, 'min_child_samples': 6, 'learning_rate': 0.006731451865767022}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 08:02:41,824] Trial 20 finished with value: 0.76852 and parameters: {'lambda_l1': 5.049710231407604e-06, 'lambda_l2': 0.000273991275265968, 'num_leaves': 226, 'feature_fraction': 0.5376689899968656, 'bagging_fraction': 0.8136201225363511, 'bagging_freq': 5, 'min_child_samples': 69, 'learning_rate': 0.0015222953334378979}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 08:03:38,573] Trial 21 finished with value: 0.57226 and parameters: {'lambda_l1': 1.1122728026491636e-05, 'lambda_l2': 0.00024052582460684012, 'num_leaves': 214, 'feature_fraction': 0.5471885481956439, 'bagging_fraction': 0.6719365308995113, 'bagging_freq': 5, 'min_child_samples': 70, 'learning_rate': 1.4330392659391067e-07}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 08:05:29,767] Trial 22 finished with value: 0.57226 and parameters: {'lambda_l1': 2.2039864003489752e-05, 'lambda_l2': 0.0003747208023307281, 'num_leaves': 219, 'feature_fraction': 0.5682251930016347, 'bagging_fraction': 0.6527682595736051, 'bagging_freq': 5, 'min_child_samples': 69, 'learning_rate': 1.7370814734006677e-07}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 08:05:46,354] Trial 23 finished with value: 0.57226 and parameters: {'lambda_l1': 1.5771847644617714e-08, 'lambda_l2': 0.04137428654755089, 'num_leaves': 215, 'feature_fraction': 0.5518824991128709, 'bagging_fraction': 0.6472285173539559, 'bagging_freq': 6, 'min_child_samples': 67, 'learning_rate': 1.2899561198963377e-07}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 08:07:47,040] Trial 25 finished with value: 0.65201 and parameters: {'lambda_l1': 4.1778512852364355e-05, 'lambda_l2': 0.0329603130496539, 'num_leaves': 226, 'feature_fraction': 0.7141082502198777, 'bagging_fraction': 0.9214720636808975, 'bagging_freq': 6, 'min_child_samples': 87, 'learning_rate': 0.0012682194706052049}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 08:08:20,976] Trial 24 finished with value: 0.74412 and parameters: {'lambda_l1': 6.043857997810215e-05, 'lambda_l2': 0.03953376451537259, 'num_leaves': 223, 'feature_fraction': 0.5728508431423646, 'bagging_fraction': 0.9107801838347234, 'bagging_freq': 6, 'min_child_samples': 88, 'learning_rate': 0.0009480811080159312}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 08:10:39,634] Trial 29 finished with value: 0.57226 and parameters: {'lambda_l1': 4.170099486853675e-07, 'lambda_l2': 0.0018693601381474124, 'num_leaves': 158, 'feature_fraction': 0.7940964419825105, 'bagging_fraction': 0.9999873154810734, 'bagging_freq': 3, 'min_child_samples': 47, 'learning_rate': 0.00033886826286788255}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 08:10:43,026] Trial 26 finished with value: 0.69009 and parameters: {'lambda_l1': 1.2721815927141616e-08, 'lambda_l2': 0.017665512568540962, 'num_leaves': 235, 'feature_fraction': 0.8235218399582107, 'bagging_fraction': 0.9087427448294606, 'bagging_freq': 6, 'min_child_samples': 91, 'learning_rate': 0.0011207915059696285}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 08:11:40,658] Trial 27 finished with value: 0.7496799999999999 and parameters: {'lambda_l1': 3.9723845402884225e-07, 'lambda_l2': 0.01042769594460991, 'num_leaves': 240, 'feature_fraction': 0.834227090278129, 'bagging_fraction': 0.9161718990333164, 'bagging_freq': 6, 'min_child_samples': 86, 'learning_rate': 0.0014783890458168708}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 08:11:42,195] Trial 28 finished with value: 0.6156200000000001 and parameters: {'lambda_l1': 5.094376404469025e-07, 'lambda_l2': 0.001507113253696382, 'num_leaves': 163, 'feature_fraction': 0.8474002261333247, 'bagging_fraction': 0.9004616917406167, 'bagging_freq': 3, 'min_child_samples': 49, 'learning_rate': 0.0005157287375536384}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 08:14:24,557] Trial 31 finished with value: 0.7786500000000001 and parameters: {'lambda_l1': 2.677522353371019e-07, 'lambda_l2': 0.2315686840888334, 'num_leaves': 106, 'feature_fraction': 0.7165095001423449, 'bagging_fraction': 0.7715175828227485, 'bagging_freq': 4, 'min_child_samples': 36, 'learning_rate': 0.0026963801108666674}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 08:15:34,229] Trial 32 finished with value: 0.77971 and parameters: {'lambda_l1': 9.02321363246246e-08, 'lambda_l2': 0.0019890485388048386, 'num_leaves': 108, 'feature_fraction': 0.7255766978197764, 'bagging_fraction': 0.9965816437030622, 'bagging_freq': 4, 'min_child_samples': 53, 'learning_rate': 0.0034272046435555284}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 08:16:44,053] Trial 30 finished with value: 0.77939 and parameters: {'lambda_l1': 2.7115548396627965e-07, 'lambda_l2': 0.001152419506879649, 'num_leaves': 241, 'feature_fraction': 0.8588902569033459, 'bagging_fraction': 0.7614114749779026, 'bagging_freq': 4, 'min_child_samples': 99, 'learning_rate': 0.002855732445123433}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 08:16:56,815] Trial 33 finished with value: 0.77917 and parameters: {'lambda_l1': 5.6040807892578604e-08, 'lambda_l2': 0.48900692003942337, 'num_leaves': 197, 'feature_fraction': 0.7184070219412998, 'bagging_fraction': 0.7721098646341148, 'bagging_freq': 4, 'min_child_samples': 100, 'learning_rate': 0.0032282283351349975}. Best is trial 16 with value: 0.77986.
[I 2021-04-06 08:19:25,294] Trial 35 finished with value: 0.78109 and parameters: {'lambda_l1': 6.131987087733238e-08, 'lambda_l2': 5.1971062891347486e-05, 'num_leaves': 110, 'feature_fraction': 0.7677797021630617, 'bagging_fraction': 0.9927607410269872, 'bagging_freq': 4, 'min_child_samples': 51, 'learning_rate': 0.00998275546543401}. Best is trial 35 with value: 0.78109.
[I 2021-04-06 08:20:53,231] Trial 36 finished with value: 0.78069 and parameters: {'lambda_l1': 5.7947528978940295e-08, 'lambda_l2': 0.00010256643372687036, 'num_leaves': 125, 'feature_fraction': 0.7483014874228522, 'bagging_fraction': 0.9637542941314337, 'bagging_freq': 2, 'min_child_samples': 52, 'learning_rate': 0.00963977752400995}. Best is trial 35 with value: 0.78109.
[I 2021-04-06 08:21:00,619] Trial 34 finished with value: 0.77953 and parameters: {'lambda_l1': 6.494298696683822e-08, 'lambda_l2': 0.7531897080824164, 'num_leaves': 255, 'feature_fraction': 0.7544737042386933, 'bagging_fraction': 0.8701475955837188, 'bagging_freq': 5, 'min_child_samples': 43, 'learning_rate': 0.008365166240955084}. Best is trial 35 with value: 0.78109.
[I 2021-04-06 08:21:05,928] Trial 37 finished with value: 0.78064 and parameters: {'lambda_l1': 1.1742666040349652e-06, 'lambda_l2': 3.697964842285933e-05, 'num_leaves': 116, 'feature_fraction': 0.7618769442532461, 'bagging_fraction': 0.9615975718118015, 'bagging_freq': 2, 'min_child_samples': 55, 'learning_rate': 0.006720752775348571}. Best is trial 35 with value: 0.78109.
[I 2021-04-06 08:22:55,866] Trial 39 finished with value: 0.57226 and parameters: {'lambda_l1': 3.876203341340677e-08, 'lambda_l2': 5.7655336987729445e-05, 'num_leaves': 111, 'feature_fraction': 0.7945171013028022, 'bagging_fraction': 0.9944004818249046, 'bagging_freq': 2, 'min_child_samples': 56, 'learning_rate': 5.096409921760111e-05}. Best is trial 35 with value: 0.78109.
[I 2021-04-06 08:22:56,891] Trial 40 finished with value: 0.57226 and parameters: {'lambda_l1': 1.8104559399345043e-08, 'lambda_l2': 4.232103387673423e-05, 'num_leaves': 108, 'feature_fraction': 0.7946708359055719, 'bagging_fraction': 0.989984643526428, 'bagging_freq': 2, 'min_child_samples': 55, 'learning_rate': 6.086064636698423e-05}. Best is trial 35 with value: 0.78109.
[I 2021-04-06 08:23:20,690] Trial 38 finished with value: 0.7805799999999999 and parameters: {'lambda_l1': 2.518262224113025e-08, 'lambda_l2': 6.72257980550453e-05, 'num_leaves': 113, 'feature_fraction': 0.7642922596992109, 'bagging_fraction': 0.9894087713884684, 'bagging_freq': 4, 'min_child_samples': 56, 'learning_rate': 0.00925657976455483}. Best is trial 35 with value: 0.78109.
[I 2021-04-06 08:23:39,115] Trial 41 finished with value: 0.57226 and parameters: {'lambda_l1': 2.0499885979297898e-08, 'lambda_l2': 8.172560947436797e-05, 'num_leaves': 111, 'feature_fraction': 0.8074744213082649, 'bagging_fraction': 0.9653614978970368, 'bagging_freq': 2, 'min_child_samples': 62, 'learning_rate': 5.798413324095395e-05}. Best is trial 35 with value: 0.78109.
[I 2021-04-06 08:25:44,241] Trial 42 finished with value: 0.5964 and parameters: {'lambda_l1': 0.005700117348989995, 'lambda_l2': 1.5761381348616676e-06, 'num_leaves': 119, 'feature_fraction': 0.88950084346063, 'bagging_fraction': 0.9676532965302017, 'bagging_freq': 2, 'min_child_samples': 60, 'learning_rate': 0.0004969733267757379}. Best is trial 35 with value: 0.78109.
[I 2021-04-06 08:26:54,332] Trial 43 finished with value: 0.64853 and parameters: {'lambda_l1': 0.00019175904409440595, 'lambda_l2': 7.282437102293477e-06, 'num_leaves': 128, 'feature_fraction': 0.6843353112989676, 'bagging_fraction': 0.9513503127804002, 'bagging_freq': 2, 'min_child_samples': 62, 'learning_rate': 0.0005631714266745423}. Best is trial 35 with value: 0.78109.

In [ ]:
## Predict
lgb_best['n_estimators'] = 10000
lgb_best['objective'] = 'binary'
lgb_best['metric'] = 'auc'

kf = StratifiedKFold(n_splits=5,random_state=42,shuffle=True)                  
predict = pd.DataFrame()
n=0   
for tr_idx, te_idx in kf.split(X, y):
    X_tr, X_te = X.iloc[tr_idx], X.iloc[te_idx]
    y_tr, y_te = y.iloc[tr_idx], y.iloc[te_idx]
    lgb_classifier = lgb.LGBMClassifier(**lgb_best)
    lgb_classifier.fit(X_tr, y_tr, eval_set=[(X_te, y_te)], verbose=False, early_stopping_rounds=2000, eval_metric='auc', random_state=42)
    y_pred = lgb_classifier.predict(ds_test)
    predict[n] = y_pred
    n+=1

result = np.round(predict.mode(axis=1).loc[:,0].values).astype(int)

output = pd.DataFrame({'PassengerId': PassengerId, 'Survived': result})
output.to_csv('my_submission.csv', index=False)
print("Your submission was successfully saved!")